@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --inicio-div: #0061C0;
  --inicio-div-dark: #004f9d;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  background-color: var(--inicio-div-dark);
  font-family: "Montserrat", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

header {
  background-color: #232428;
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.menu-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-links {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transform: translateY(-50px);
  transition: 0.3s;
  z-index: 100;
  background-color: #1e1f23;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
}

.hidden-links > ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.links {
  visibility: visible;
  opacity: 1;
  position: relative;
  transition: 0.3s ease;
  z-index: 100;
  background-color: #202124;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
}

.links > ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.hidden-links > ul > li {
  padding: 5px;
  border-radius: 5px;
  color: white;
  width: fit-content;
}


.links > ul > li {
  padding: 5px;
  border-radius: 5px;
  color: white;
  width: fit-content;
}

.hidden-links > ul > li:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: #232428;
}


.links > ul > li:hover {
  padding: 5px;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: #232428;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  min-width: 0;
  width: 100%;
}

.adicionar-tarefa {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 1rem auto;

  opacity: 1;
  transform: scale(1);
  transition: 0.3s;
}

.hidden-adicionar-tarefa {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 1rem auto;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-300px) scale(0.3);
  transition: 0.3s;
}

.adicionar-tarefa > form {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 1rem auto;

  opacity: 1;
  transform: scale(1);
  transition: 0.3s;
}

.hidden-adicionar-tarefa > form {
  position: absolute;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 1rem auto;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-300px) scale(0.3);
  transform: scale(0.3);
}

.adicionar-tarefa > form > input[type="submit"] {
  border: none;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  color: var(--inicio-div);
  width: 50%;
}

.adicionar-tarefa > form > input[type="text"], textarea {
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1.5px solid #232428;
  border-radius: 5px;
}

.lista-tarefas {
  margin: auto;
  background-color: white;
  width: 100vw;
  border-radius: 15px 15px 0 0;
  padding:  0 1rem 1rem 1rem;
  flex: 1;
}

.lista-tarefas > div > h2 {
  padding: 10px;
}

.lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lista li {
  list-style: none;
}

.task-item {
  text-decoration: none;
  color: black;
}
/*
.edit-form {
  display: flex;
  gap: 20px;
  justify-content: center;
}
*/
#title {
  color: white;
  font-weight: 400;
  display: flex;
  gap: 15px;
}

#title img {
  width: 30px;
}

.inicio {
  width: 100vw;
  display: flex;
  padding: 0 15px 0 15px;
  justify-content: space-between;
  background-color: var(--inicio-div);
  height: 15vh;
  align-items: center;
  border-radius: 0 0 15px 15px;
}

.inicio > button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  color: var(--inicio-div);
  text-shadow: #232428;
}

.inicio h2 {
  color: white;
  font-weight: 400;
}

.inicio p {
  color: white;
  font-size: 0.85rem;
}

.task-row {
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.task-row-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 7vh;
  padding: 5px 15px 5px 15px;
  width: 80%;
}

.task-row h3 {
  font-size: 0.85rem;
  font-weight: 600;
}

.task-row > div p {
  font-weight: 300;
  font-size: 0.85rem;
  padding: 0;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  position: relative;
}

.controls button {
  border: none;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-tasks {
  position: absolute;
  bottom: 110%; 
  background: #E9E9ED;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 5px;
  border-radius: 5px;
  right: 0;

  opacity: 1;
  transition: 0.2s;
  transform: translateY(-5px) scale(1.21);
}

.menu-tasks button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.hidden-menu-tasks {
  position: absolute;
  bottom: 110%; 
  background: #E9E9ED;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 5px;
  border-radius: 5px;
  right: 0;

  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.2s ease-in-out;
}

.hidden-menu-tasks button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

/* edit form */

.hidden-edit-task {
  z-index: 200;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #232428;
  width: 100vw;
  height: fit-content;
  position: absolute;
  
  visibility: hidden;
  opacity: 0;
  transform: translateY(210px);
  transition-duration: 0.3s;
}

.edit-task {
  z-index: 200;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #232428;
  width: 100vw;
  height: fit-content;

  visibility: visible;
  opacity: 1;
  transform: translateY(-210px);
  transition-duration: 0.3s;
}

.edit-task > .edit-form {
  z-index: 200;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px; /* Evita que fique largo demais em telas grandes */
  gap: 15px;
  background-color: #232428;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  margin: 0 auto;
}


.edit-task > .edit-form .edit-title, .edit-desc, .enviar-edit {
  width: 100%;
  padding: 1rem;
}

.hidden-edit-task > .edit-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 15px;
  margin-left: auto;
}

.hidden-edit-task > .edit-form .edit-title, .edit-desc, .enviar-edit {
  width: 100%;
  padding: 1rem;
}

.cancel-edit {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

/* ========== Media Queries ========== */

@media screen and (min-width: 1023px) {
  body {
    display: flex;
    flex-direction: row-reverse;
  }
  header {
    width: 200px;
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
  .inicio {
    width: 100%;
  }
  .lista-tarefas {
    width: 100%;
  }
}